<app-loader></app-loader>
<div class="home-picture" *ngIf="userList">
  <div class="picture" *ngFor="let user of userList">
      <div>
      <h5 >
        <a [routerLink]="['/user/detail/', user.id]" >{{ user.TITLE }}</a>
      </h5>
      
   <div class="some-picture">
    <a [routerLink]="['/user/detail/', user.id]">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/gaeva-2.appspot.com/o/picture%20%2F{{
          user.id
        }}.jpg?alt=media"
        alt="Alternative Text"
        class="image"
        height="300"
        width="200"
      />
    </a>
</div>
    <div class="technology">Tehnology:{{ user.TECHNOLOGY }}
    </div>
  </div>
</div>
</div>