.home-picture {
	display: flex;	
	flex-flow: row wrap;
	justify-content: start ;
	margin: auto;
	margin-top: 10px;
	
  }	
  .picture {
	text-align: center;
	font-size: large;

  }
  .technology{
	  font-size: small;
  }
.some-picture{
 margin: 10px 25px;
}